.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 18px; }

body {
  font-family: "DIN Pro"; }

header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  header .wrapper {
    padding-left: 3.6rem; }

nav.navbar {
  max-width: 1140px;
  margin: 0 auto;
  text-transform: uppercase; }
  nav.navbar .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    nav.navbar .navbar-nav a.nav-item {
      font-size: 18px;
      padding: 0 20px;
      color: #a63024;
      -webkit-transition: color linear 0.3s;
      transition: color linear 0.3s; }
      nav.navbar .navbar-nav a.nav-item:hover {
        color: #d03c2d; }

h1 {
  margin-top: 7.5rem;
  margin-bottom: 2.9rem;
  font-size: 5.55rem;
  font-weight: 500;
  color: #fff;
  line-height: 5rem;
  letter-spacing: -0.04em; }

h2 {
  margin-bottom: 5rem;
  font-size: 2.77rem;
  font-weight: 300;
  color: #aeafb2; }

h3 {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

h4 {
  margin-bottom: 0;
  padding-bottom: 6rem;
  font-size: 1.38rem;
  font-weight: 300;
  color: #aeafb2; }

section.core-values {
  background-color: #a63024; }
  section.core-values h3 {
    padding-top: 6rem;
    color: #aeafb2; }
  section.core-values .values {
    margin-top: 4.4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    width: 100%; }
    section.core-values .values p {
      display: grid;
      min-height: 350px;
      color: #4f1812;
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.333rem;
      text-align: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      outline: none; }

section.services {
  background-color: #aeafb2; }
  section.services h3 {
    padding-top: 6rem;
    padding-bottom: 3.5rem;
    color: #a63024; }
  section.services .services-item {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    border: 5px solid #c4c4c4;
    height: 323px; }
    section.services .services-item .icon {
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
      text-align: center;
      margin: auto; }
    section.services .services-item .text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      section.services .services-item .text p {
        padding-bottom: 20px;
        padding-right: 20px;
        color: #a63024;
        font-weight: 400; }
        section.services .services-item .text p.service-title {
          padding-top: 20px;
          font-size: 2.222rem;
          font-weight: 700;
          line-height: 2.333rem; }

section.cases {
  padding-bottom: 6rem;
  background-color: #aeafb2; }
  section.cases h3::before {
    margin-bottom: 5.6rem;
    content: url(../img/dotted-line.png);
    display: block; }
  section.cases .grid {
    display: grid;
    position: relative;
    text-align: center;
    max-width: 1110px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 540px));
    grid-gap: 30px; }
  section.cases .dotted-line {
    margin: 0 auto;
    padding: 6rem 0;
    max-width: 1088px;
    height: 3px;
    background-image: url("../img/dotted-line.png");
    background-repeat: no-repeat;
    background-position: center; }
  section.cases h3 {
    margin-bottom: 3.5rem;
    color: #a63024; }

section.experience {
  padding-bottom: 3rem;
  background-color: #a63024; }
  section.experience h3 {
    padding-top: 5.6rem;
    padding-bottom: 3rem;
    color: #aeafb2; }
    section.experience h3:last-child {
      padding-top: 3rem; }
    section.experience h3.benefits::before {
      margin-bottom: 5.6rem;
      content: url(../img/dotted-line.png);
      display: block; }
  section.experience .partners-logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    section.experience .partners-logo img {
      display: inline-block;
      margin: 2rem;
      -ms-flex-preferred-size: 50px;
          flex-basis: 50px; }
  section.experience p.profits {
    padding: 3.3rem 0;
    margin-left: 65px;
    color: #aeafb2;
    font-size: 2.222rem;
    font-weight: 300;
    line-height: 2.444rem; }
  section.experience p.number_1 {
    width: 80%;
    background: url("../img/number1.png") left center no-repeat;
    background-size: contain; }
  section.experience p.number_2 {
    width: 90%;
    background: url("../img/number2.png") center center no-repeat;
    background-size: contain; }
  section.experience p.number_3 {
    width: 100%;
    padding: 5rem 0;
    background: url("../img/number3.png") right center no-repeat;
    background-size: contain; }
  section.experience p.min {
    margin-left: 65px;
    color: #8e8e8e;
    line-height: 1.222rem; }
